{% extends "layout.html" %}
{% load static %}
{% block body %}
<div class="container">
    
    <div class="subcontainer">
        <h2>Sly Cooper is a video game released in 2001 by Sucker Punch</h2>
    </div>
    <div class="subcontainer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6Zy3zQMtfu0?controls=0&amp;start=5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="subcontainer">
        <img src="{% static 'slymoon.png' %}" style="width: 100%;">
    </div>
    <div class="subcontainer"></div>
    
</div>
{% endblock %}